@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
.box2 li{
    list-style: none;
    padding: 20px 15px;
    width: 270px;
    border-radius: 10px;
}
.box2 li:hover{
    background-color: #2E2E2E;
    cursor: pointer;
}
.box2 a{
    text-decoration: none;
    margin-left: 10px;
    color: #B0B0B0;
    
}
.box2 a i{
    margin: 0px 14px;
}
.box2 {
    font-family: "Montserrat", sans-serif;
    background-color: #202020;
    width: 298px;
    height: 600px;
    border-radius: 5px;
    margin-left: 10px;
    overflow: hidden;
    margin-top: 10px;
    z-index: 1000;
    position: relative;
    
}
.active1{
    background-color: #2E2E2E;

}